<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>De Leon</name>
    <description>
        Tomas De Leon's e-Commerce app. Enjoy it. ;)
    </description>
    <author email="ljcanales1404@gmail.com" href="http://cordova.io">
        Canales Luciano
    </author>
    <author email="gastons_92@hotmail.com" href="http://cordova.io">
        Sabugo Gaston
    </author>
    <author email="migueldariomoreira@gmail.com" href="http://cordova.io">
        Moreira Dario
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon_DeLeon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
